<div class="alert alert-info" role="alert"><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</div>
<%# content_for(:precontainer_content) do %>
  <%#= render 'hyrax/homepage/announcement' %>
<%# end %>
<% content_for(:navbar) do %>
  <%= render '/controls' %>
<% end %>

<%= render template: 'layouts/hyrax' %>
