<span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>

<%= link_to [main_app, featured] do %>
  <div
    class="img-container">
    <%= render_thumbnail_tag(featured, { alt: "#{featured.title.first.to_s} #{ t('hyrax.homepage.admin_sets.thumbnail')}" }, {suppress_link: true})%>
    <%#= image_tag random_image %>
  </div>
  <figcaption>
    <h2><%= featured.title.first %></h2>
  </figcaption>
<% end %>
