<% if @featured_work_list.empty? %>
<% else %>
  <h2><%= t('hyrax.homepage.admin_sets.title') %></h2>
  <div class="cards--highlight">


    <%= render partial: 'featured', collection: @featured_work_list.featured_works %>

  </div>
<% end %>
