<h2><%= t('hyrax.homepage.admin_sets.title') %></h2>
<div class="cards">
  <% if @featured_work_list.empty? %>
    <div class="card">
      <h3><%= t('hyrax.homepage.featured_works.no_works') %></h3>
    </div>
  <% else %>

    <%= render partial: 'featured', collection: @featured_work_list.featured_works %>
  <% end %>
</div>

<style>
  .homepage-hero {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
  .home-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: auto;
    gap: 1rem 2rem;
    align-items: stretch;
  }
  .card {
    color: #344055;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.315);
    background: rgba(255, 255, 255, 0.90);
    text-align: center;

  }
  .card p{margin: 1rem 0;}
  .card h3{margin: 1.5rem 0;}
  .card .img-container {
    overflow: hidden;
    padding: 0;
    display: block;
  }
  .card img {

    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
  }
  .card img:hover {
    transform: scale(1.05);
  }

  .card figcaption {

    margin: 1rem 0;
    padding: 0.5rem 2rem;

    display: flex;
    align-items: flex-end;
  }
  .card figcaption h2 {
    color: #2e2e2e;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

}
</style>
