
<% provide :page_title, Theme.current_theme.site_title %>



<div class="row">
  <div class="col-xs-12">
    <%= image_tag random_image, alt: "Homepage Hero Image", class:"homepage-hero" %>
  </div>
</div>

<div class="row home-content">
  <div class="col-xs-12">
    <%= render 'home_content' %>
  </div>
</div>
