<% provide :page_title, application_name %>

<div class="row">
  <div class="col-xs-12">
    <%#= image_tag "https://via.placeholder.com/1140x450/EFEFEF/1A1A1A/?text=Homepage Hero",  alt: "Homepage Hero", class:"img-responsive" %>
    <%= image_tag get_random_image,  alt: "Homepage Hero", class:"img-responsive" %>
  </div>
</div>

<div class="row home-content">
  <div class="col-xs-12">
    <%= render 'home_content' %>
  </div>
</div>
