<div id='homepage-preview'>
  <div class="homepage-body">
    <div class="preview-header">
      <div class="preview-masthead">
        &nbsp;
      </div>
      <div class="preview-logo">
      </div>
      <div class="preview-masthead-image">
        <div class="preview-site-title"><%= @theme.site_title %></div>
        <div class="preview-navbar-header">
          <ul class="">
            <li>Home</li>
            <li>About</li>
            <li>Help</li>
            <li>Contact</li>
          </ul>
          <div class="preview-navbar-search">
            <form>
              <label for="search-field-header">Search</label>
              <input type="text" placeholder="Enter search terms" />
              <button type="button" id="search-submit">Go</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="preview-body">
      Some homepage stuff goes here...
    </div>
    <div class="preview-footer">
      Some footer stuff goes here...
    </div>
  </div>
</div>