<div id='homepage-preview'>
  <div class="homepage-body">
    <div class="preview-header">
      <div class="preview-masthead clearfix">
        <% if theme&.logo&.attached? %>
          <div class="preview-logo">
            <%= image_tag theme&.logo  %>
          </div>
        <% end %>
        <div class="preview-site-title"><%= @theme.site_title %></div>
      </div>

      <div class="preview-navbar-header clearfix">
        <ul class="nav navbar-nav">
          <li>Home</li>
          <li>About</li>
          <li>Help</li>
          <li>Contact</li>
        </ul>

        <form class="navbar-form navbar-right">
          <label for="search-field-header">Search</label>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="Enter search terms" class="form-control "/>
            <span class="input-group-btn">
              <button type="button" id="search-submit" class="btn btn-primary">Go</button>
            </span>
          </div>

        </form>


      </div>
    </div>

    <div class="preview-body clearfix">
      <h1>Heading H1</h1>
      <p><%= @theme.site_description %></p>
    </div>
    <div class="preview-footer clearfix">
      Powered by Tenejo
    </div>
  </div>
</div>
