<h1>Tenejo::Preflight#new</h1>
<p>Find me in app/views/tenejo/preflight/new.html.erb</p>
upload a file ...

<%= form_tag({:action => :upload}, :multipart => true) do %>
  <%= file_field_tag 'manifest' %>
  <br/>
  <%= submit_tag("Preview Import", class: 'btn-primary btn-lg') %>
<% end %>
