// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table--job {
  width: 100%;
  margin-bottom: 0;
  .collapse-button {
    width: 3%;
    .btn-xs {
      font-size: 10px;
    }
  }
  .title {
    width: 25%;
  }
  .item_status {
    width: 10%;
  }
  .identifier {
    width: 15%;
  }

  .lineno {
    width: 5%;
    text-align: center;
  }
  .type {
    width: 5%;
  }
  .visibility {
    width: 10%;
  }
  .collection_count,
  .work_count,
  .file_count {
    width: 5%;
    text-align: center;
  }
  .index {
    width: 5%;
    text-align: center;
  }
}
.file-name {
  font-style: italic;
}

.card.card--job,
.card.card-default {
  border: 1px solid rgba(98, 105, 118, 0.16);
  box-shadow: 0px 2px 4px rgba(30, 41, 59, 0.04);
  margin-bottom: 3rem;
  border-radius: 4px;
  .card-header {
    background-color: #fff;
    padding: 1rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }
  .rounded-pill {
    border-radius: 50rem !important;
  }

  .card-body {
    padding: 2rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
  h2 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;

    color: #1e293b;
  }
  dl.filename {
    margin-bottom: 0;
  }
  dt {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    /* identical to box height, or 160% */

    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: #626976;
  }

  .job-number {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;

    color: #1e293b;
  }
}

.card--preflight {
  .card-header {
    &.preflight-errors {
      background-color: rgba(254, 226, 226, 1);
      color: rgba(127, 29, 29, 1);
    }
    &.preflight-warning {
      background-color: rgba(254, 243, 199, 0.6);
      color: rgba(120, 53, 15, 1);
    }
    &.preflight-info {
      background-color: lightblue;
      color: darkblue;
    }
  }
}

.badge {
  padding: 0.7rem 1.2rem;
  // Statuses
  &.status-submitted {
    background-color: lightblue;
    color: darkblue;
  }
  &.status-completed {
    background-color: rgba(209, 250, 229, 1);
    color: rgba(6, 95, 70, 1);
  }
  &.status-errored {
    background-color: rgba(254, 226, 226, 1);
    color: rgba(127, 29, 29, 1);
  }
  &.status-in-progress {
    background-color: rgba(254, 243, 199, 0.6);
    color: rgba(120, 53, 15, 1);
  }
  &.status-unknown {
    background-color: rgba(217, 237, 247, 0.5);
    color: rgba(17, 24, 39, 1);
  }

  &.status-unrecognized {
    ::before {
      content: "⚠️";
    }
    background-color: lightgoldenrodyellow;
    color: black;
  }
}

table {
  .badge {
    padding: 0.35rem 0.6rem;
  }
}

.table-numbers{
  text-align: center;
}
