<% content_for(:precontainer_content) do %>
  <h3>Homepage layout</h3>
  <%= render 'hyrax/homepage/announcement' %>
    
<% end %>

<% content_for(:navbar) do %>
    <%= render '/controls' %>
<% end %>

<%= render template: 'layouts/hyrax' %>